.bg {
	position: relative;
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	background-attachment: fixed;
	&__frontpage {
		background-image: url(../img/frontpage_bg.jpg);
	}
	&__about {
		background-image: url(../img/bg.jpeg);
	}
	&__projects {
		background-image: url(../img/projects_bg.jpg);
	}
	&__work {
		background-image: url(../img/work_bg.jpg);
	}
	&__contact {
		background-image: url(../img/contact_bg.jpg);
		background-position: bottom center;
	}
	height: 100%;
	&::after {
		content: '';
		position: fixed;
		width: 100%;
		height: inherit;
		top: 0;
		left: 0;
		background-color: rgba($primary,0.7);
		z-index: -1;
	}
}
	
main {
	padding: 0 5rem;
	//overflow: hidden;
	//overflow-y: scroll;
	@include respond (phone) {
		padding: 0 2.5rem;
	}
}

.btn-light,
.btn-dark {
	position: relative;
	z-index: 1;
	display: block;
	padding: 0.8rem 1rem;
	border: 0;
	margin-bottom: 0.3rem;
	transition: .3s all ease-out;
	&:hover {
		background-color: $yellow;
		color: $black;
		transition: .3s all ease-out;
	}
	i {
		margin-right: 1rem;
	}
}
.btn-light {
	background-color: #c4c4c4;
	color: #333;
}
.btn-dark {
	background-color: $black;
	color: $white;
}